/*rating*/
.rating-css div{
    color: green;
    font-size: 30px;
    font-family: sans-serif;
    font-style: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}
.rating-css input{
    display: none;
}
.rating-css input + label {
    font-size: 60px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
}
.rating-css input:checked + label ~ label{
    color: #b4afaf;
}
.rating-css label:active{
    transform: scale(0.8);
    transition: 0.3s ease;
}
/* end of star rating */
.checked {
    color: green;
}

/* payment form*/
* {
    box-sizing: border-box;
  }
  
  .payment-form {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    resize: vertical;
  }

  
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  .submit-btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }